<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code</title>
    
</head>
<body>

    <h1>Welcome to Morse Code</h1>
    
    <form action="/home">
        
            <!-- <label for="name">Enter the string to convert into morse</label> -->
            <input type="text" name="q" placeholder="enter string..." id="name">
            <input type="submit" value="home">
            
                <!-- <button>
                    <input type="reset" value="reset">
                </button>
            
            <div>
                    <input type="submit" value="submit">
            </div> -->

            
        
        
    </form>
 
</body>
</html>