<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset>
        
        <label for="output">Output:</label>
        <div class="morse outputArea" id="output" name="output" placeholder="The translated message appears here..." tabindex="0"></div>
       <textarea name="text" id="1" cols="30" rows="10">
        
        


       </textarea>
    </fieldset>

</body>
</html>





<!-- 
<legend>Translate a Message</legend>
        <label for="input" class="show-for-medium-up">Input:</label>
        <textarea class="morse" cols="40" id="input" name="input" placeholder="Type your message here: " rows="3" tabindex="0"></textarea>
        <label class="error" id="inputErrorLabel" style="display:none">Input error:</label>
        <div class="morse outputArea" id="inputError" style="display:none"></div>
        <div class="fwButtonIconName">
        <button class="clean" type="button" id="clean" aria-label="Clean Up" tabindex="0" aria-haspopup="true" data-options="disable_for_touch:true" data-tooltip="" aria-pressed="false" style="display:none" data-selector="tooltip-l0wjmvcx0" aria-describedby="tooltip-l0wjmvcx0" title="">
        <div class="button-icon"><span class="icon-tick"></span></div>
        <div class="button-name"><span>Clean Up</span></div>
        </button>
        </div>
        <label for="output" class="show-for-medium-up">Output:</label>
        <div class="morse outputArea" id="output" name="output" placeholder="The translated message appears here with '#' indicating an untranslatable character." tabindex="0"></div>
        <div class="fwButtonIconName">
        <button class="play disabled" type="button" id="play" aria-label="Play" tabindex="-1" aria-pressed="false">
        <div class="button-icon"><span class="icon-play"></span></div>

        <div class="morse outputArea" id="output" name="output" placeholder="The translated message appears here with '#' indicating an untranslatable character." tabindex="0" aria-setsize="200px"></div>

        <button class="clean" type="button" id="clean" aria-label="Clean Up" tabindex="0" aria-haspopup="true" data-options="disable_for_touch:true" data-tooltip="" aria-pressed="false" style="display:none" data-selector="tooltip-l0wkp9hm0" aria-describedby="tooltip-l0wkp9hm0" title="">
            <div class="button-icon"><span class="icon-tick"></span></div>
            <div class="button-name"><span>Clean Up</span></div>
            </button>


 -->
